

@media screen and (min-width: 934px) {

    /*body{*/
    /*    display: flex;*/
    /*    flex-flow: wrap;*/
    /*}*/

    .alert-info{
        display: none;
    }

    nav{
        display: flex;
        justify-items: flex-end;
        width: 100%;
    }

    .nav-links{
        display: flex;
        list-style: none;
    }


    section{
        flex-flow: wrap;
    }




}