.fancy-header{
    color:blue;
    text-decoration:underline;
}

selector{
    property: value
    /* :color, front size, background color)*/
}

hi {
    color:blue;
    front-size;
    border: 2px; color:magenta;
}
p{
    color: coral;
}
h2{
    color: gray;
}
ol {

}

li{

}